app:
  security:
    enabled: false

spring:
  application:
    name: event-booking-app

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/event_booking_app?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: root
    password: "123456"

  jpa:
    defer-datasource-initialization: true
    hibernate:

      ddl-auto: update


    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true

  sql:
    init:
      mode: always
      encoding: UTF-8

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

jwt:
  secret: MTAwUGVyY2VudFNlY3JldEtleUZvckZvb2RHb0JhY2tlbmRNYXlCRTEyMzQ1Njc4OQ==
  exp-minutes: 60
